# Python specific
*.pyc
*.pyo
__pycache__/

# Django specific
db.sqlite3
media/
*.log

# Virtual environment
venv/
.venv/

# Docker files
*.dockerfile
docker-compose.override.yml

# Environment files (keep only examples in git)
.env
.env.*
*.env
!*.env.example

staticfiles/
